.form-container {
  margin: 30% auto;
  display: block;
  width:500px;
  text-align:center;
}

body{
  margin: 0 auto;
  font-family: Arial;
  background-color: rgb(155, 151, 151);
  color: white;
}

label{
  margin-bottom:20px;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid #01d28e;
  margin-bottom:20px;
}

button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  margin-bottom:20px;
}